name: PR build

on: [pull_request]

jobs:
  ubuntu-build:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    concurrency:
      group: ${{ github.head_ref }}-ubuntu
      cancel-in-progress: true
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 21.0.3

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Set Up Ballerina
        uses: ballerina-platform/setup-ballerina@v1.1.1
        with:
          version: 2201.12.3

      - name: Cache Ballerina dependencies
        uses: actions/cache@v4
        id: cache-ballerina
        with:
          path: /home/runner/.ballerina/repositories/
          key: ${{ runner.os }}-ballerina-${{ hashFiles('**/gradle.properties') }}
          restore-keys: |
            ${{ runner.os }}-ballerina-

      - name: Build with Gradle
        env:
          packageUser: ${{ github.actor }}
          packagePAT: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew :flow-model-generator:flow-model-generator-ls-extension:test

  windows-build:
    runs-on: windows-latest
    timeout-minutes: 60
    concurrency:
      group: ${{ github.head_ref }}-windows
      cancel-in-progress: true
    steps:
      - name: Enable long paths for Git
        run: git config --system core.longpaths true

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: 21.0.3

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Set Up Ballerina
        uses: ballerina-platform/setup-ballerina@v1.1.1
        with:
          version: 2201.12.3

      - name: Cache Ballerina dependencies
        uses: actions/cache@v4
        id: cache-ballerina
        with:
          path: C:\Users\runneradmin\.ballerina\repositories\
          key: ${{ runner.os }}-ballerina-${{ hashFiles('**/gradle.properties') }}
          restore-keys: |
            ${{ runner.os }}-ballerina-

      - name: Build with Gradle
        env:
          packageUser: ${{ github.actor }}
          packagePAT: ${{ secrets.GITHUB_TOKEN }}
        run: ./gradlew.bat build
